<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>

<div id="app">
    <ul>
        <li v-for="(ingredient, i) in ingredients"> {{ ingredient }} ( {{ i }} )</li>
    </ul>


    <ul>
        <template v-for="(ingredient, index) in ingredients">
            <p>{{ ingredient }}</p>
            <p> {{ index }}</p>
        </template>
    </ul>

    <ul>
        <li v-for="person in persons">{{ person.name }}</li>
    </ul>
    <ul>
        <li v-for="person in persons">
            <span v-for="value in person"> {{ value }}</span>
        </li>
    </ul>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key) in person">{{ key }}:  {{ value }}</div>
        </li>
    </ul>
    <ul>
        <li v-for="person in persons">
            <div v-for="(value, key, index) in person">{{ key }}:  {{ value }}  ({{ index }})</div>
        </li>
    </ul>

    <span v-for="n in 10">{{ n }}</span>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {name: 'Hüseyin', age: 29, color: 'red'},
                {name: 'Max', age: 29, color: 'red'},
                {name: 'Anna', age: 29, color: 'red'},
            ]
        },
        methods: {
            changeListener: function (event) {
                this.title = event.target.value;
            }
        }
    });
</script>
</body>
</html>
